@import '/styles/variables.scss';

.search-field {
  width: 50vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  font-size: 50px;

  @media (max-width:$screen-sm-max) {
    & {
      width: 80vw;
    }
  }
  @media (max-width:$screen-xs-max) {
    & {
      width: 95vw;
    }
  }
}
